[Desktop Entry]
Encoding=UTF-8
Name=Link to Building Cython code — Cython v0.15pre documentation
Type=Link
URL=http://docs.cython.org/src/quickstart/build.html
Icon=gnome-fs-bookmark
